<div class="qu-table__wrapper">
    <table class="qu-table__table">

        <thead class="qu-table__header">
            <tr>
                <th class="qu-table__column-title"
                    [id]="column.id"
                    *ngFor="let column of columns"
                    (click)="handleColumnSorting(column.id)">
                    {{ column.title }}
                    <div class="qu-table__column-order-label"
                        *ngIf="sortingStatus.columnId === column.id && sortingStatus.order">({{ sortingStatus.order }})
                    </div>
                </th>

                <th class="qu-table__column-title">
                    View Details
                </th>
            </tr>
        </thead>

        <tbody *ngIf="tableContent">
            <tr class="qu-table__row"
                *ngFor="let item of tableContent; let i = index;">

                <td class="qu-table__row-item"
                    *ngFor="let column of columns;">
                    {{ item[column.id] }}
                </td>

                <td>
                    <button (click)="handleViewDetailsButton(item)">View</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="qu-table__nav">
        <button class="qu-table__nav-btn"
            [disabled]="!data.previous ? 'disabled': null"
            (click)="handlePreviousPage()">{{buttonTexts.back}}</button>

        <button class="qu-table__nav-btn"
            [disabled]="!data.next ? 'disabled': null"
            (click)="handleNextPage()">{{buttonTexts.next}}</button>
    </div>
</div>