.qu-table {
    &__column-title {
        padding: 10px;
    }

    &__header {
        border-bottom: 2px solid var(--gray);
        background: var(--gray-light);
    }

    &__nav {
        text-align: center;
    }

    &__nav-btn {
        background-color: var(--white);
        border: 0;
        cursor: pointer;
        font-weight: 700;
        outline: none;
        padding: 35px;
        text-transform: uppercase;
    }

    &__row {
        &:nth-child(even) {
            background: var(--gray-light);
        }
    }

    &__row-item {
        padding: 15px;
    }

    &__table {
        border-collapse: collapse;
        width: 100%;
    }
}
